body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #222;
    background-image: url('//source.unsplash.com/1600x900/?landscape');
}

#container {
    background-color: #000000d0;
    color: white;
    width: 100%;
    max-width: 420px;
    padding: 2rem;
    border-radius: 30px;
    margin: 1rem;
}

.search-text {
    align-items: center;
    justify-content: center;
}

input {
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 18px;
    background-color: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 1rem;
    width: calc(83% - 50px);
}

button {
    outline: none;
    margin: 0.5rem;
    border-radius: 50px;
    border: none;
    height: 2.1rem;
    width: 4rem;
    font-size: 1.1rem;
    background-color: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    background-color: #7c7c7c6b;
}

.temperature {
    margin: 0;
}


